.credit-app {
  margin: 4em 0em;
}

.form-buttons {
  margin-top: 2em;

  .mat-button-base {
    margin-right: 1em;
  }
}

.logo-image
{
  width: 150px;
}

.logo-image > img {
  width: 150px;
}